.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 99%;
    width: 99%;
}


.login-page h1 {
    position: absolute;
    top: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;

}

.login-form {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 80%;
    gap: 40px;
}

.segment {
    display: flex;
    flex-direction: row;
    gap: 30px;
}